.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.textFieldColor{
  font-weight: 300;
  color: #cfcde3 !important;
}

.practice{
  background-color: #47298b;
}

.textFieldColor {
  font-weight: 300;
  color: #cfcde3 !important;
}

.textFieldColor_label{
  font-weight: 300;
  color: #cfcde3 !important;
}


.masterTextField{
  color:#f2f2f2 !important;
}

.backgroundLight{
  background-color: #282c34;
}
.backgroundDark {
  background-color: #47298b;
}